{{#if user}}
    <h2> Create a New Calendar </h2>
    {{#if error}}
        <h3 id="error">{{error}}</h3> 
    {{else}}
        <form id="add-calendar" method="POST"> 
            What will your calendar be called?
            <input type="text" name="calendarName">
            <br>

            How many days will your calendar be?
            <input type="radio" id="7days" name="days" value="7"><label>7</label>
            <input type="radio" id="14days" name="days" value="14"><label>14</label>
            <input type="radio" id="30days" name="days" value="30"><label>30</label>
            <br>

            <input type="submit" id="add_calendar" value="Create Calendar">
            <br>
        </form>
    {{/if}}
{{else}}
    <div>
        <h2>You must <a href= "/login">log in</a> before creating calendars.</h2>
    </div>
{{/if}}